
body {
	background: #faebd7;
	overflow-y: scroll;
}

/* ---------------------------------------  
 * General
 * --------------------------------------- */
.wrap {
	width: 90%;
	max-width: 1100px;
	margin: 0px auto;
}

/* ---------------------------------------
 * Nav
 * --------------------------------------- */

.top-bar ul {
	background-color: #222;
}

.nav-desktop {
	background-color: #222;
}

.menu-item-home {
	color: rgba(253, 245, 230, 0.5);
	font-size: 2em;
}

.menu-item-away {
	color: rgba(253, 245, 230, 0.5);
	background-color: #222;
}

/* ---------------------------------------
 * Hero
 * --------------------------------------- */

.hero-body {
	width: 40%;
	margin-left: 17%;
}

/* ---------------------------------------
 * Main
 * --------------------------------------- */

.main {
	min-height: 38%;	
	padding: 80px 0px;
	background: rgba(0,0,0,0);
}

/* ---------------------------------------
 * Footer
 * --------------------------------------- */
footer {
	background-color: #222;
	padding: 30px 0px;
}

footer a {
	display: block;
	color: rgba(253, 245, 230, 0.5);
}

footer hr {
	color: #fdf5e6;
}

.footer-title {
	color: rgba(253, 245, 230, 0.5);
}	


