{% extends "base.html" %}

{% load static %}
{% load project_extras %}

{% block head_extra %}
	<title>Projects | Daniel Ragsdale</title>

	<style>
		.hero {
			background: rgba(150, 150, 150, 0.5);
			/* background: #999; */

			background: url("{% static "img/hero_software.jpg" %}") no-repeat center center;
			background-size: cover;
			height: 45vh;

			padding: 80px 0px; 
		}
	</style>
{% endblock %}

{% block hero %}
	<div class="wrap hero-body">
		<h1>My Projects</h1>
		<p>Programming is much more than a job. It is a passion.</p>
	</div>
{% endblock %}

{% block main %}
	<p>I've spent countless hours programming on many different projects.
	Below is a list of projects where I am the primary contributor. If you
	would like to see a list of my open-source contributions, click <a>here.</a></p>
	
	<ul class="no-bullet">
	{% for post in all_posts %}
	<li class="indented">
		<h3>{{post.title}}</h3>	
		{% md_render post.bodytext %}
	</li>
	{% endfor %}
	</ul>
{% endblock %}
