<html class="no-js" lang="en" dir="ltr">
{% load static %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static "css/foundation.css" %}">
	<link rel="stylesheet" href="{% static "css/app.css" %}">

	{% block head_extra %}
		<style>
			.hero {
				background: rgba(150, 150, 150, 0.5);
				/* background: #999; */

				background: url("{% static "img/hero_dan.jpg" %}") no-repeat center center;
				background-size: cover;
				height: 45vh;

				padding: 80px 0px; 
			}
		</style>
	{% endblock %}
</head>
<body>
	<nav class="top-bar nav-desktop">
		<div class="wrap">
			<div class="top-bar-left">
				<a href="/"><span class="menu-item-home">Home</span></a>
			</div>		
			<div class="top-bar-right">
				<ul class="menu">
					<li><a class="menu-item-away" href="{% url 'projects:index' %}">Projects</a></li>
					<li><a class="menu-item-away" href="#">Blog</a></li>
					<li><a class="menu-item-away" href="#">About</a></li>
				</ul>
			</div>
		</div>
	</nav>	  

	<!-- HERO SECTION -->
	<section class="hero">
		{% block hero %}
		{% endblock %}
	</section>

	<!-- MAIN CONTENT -->
	<section class="main">
		<div class="wrap">
		{% block main %}
		Food truck gluten-free freegan, occupy hexagon placeat ethical gastropub brooklyn meh polaroid.
	   	Tofu nisi ad, tacos humblebrag aliqua banjo vinyl.
	   	Neutra art party bespoke, coloring book tacos truffaut yr franzen tempor mustache selvage etsy.
	   	Paleo eu raclette fugiat biodiesel taxidermy, umami synth jean shorts mlkshk la croix esse.
	   	Synth roof party excepteur narwhal, iceland locavore cold-pressed.
	   	Est adipisicing actually nesciunt, nostrud scenester bespoke seitan sunt esse man braid dolore placeat dolor.
	   	Echo park marfa tbh lo-fi.
		{% endblock %}
		</div>
	</section>

	<!-- FOOTER SECTION -->
	<footer>
		<div class="wrap row small-up-1 medium-up-3">
			<div class="column">
				<h4 class="footer-title">Contact</h4>
				<hr>
				<a href="#">971 295 6942</a>
				<a href="#">contact@DanielRagsdale.com</a>
				<a href="#">17400 Brookhurst Dr, 97034</a>
			</div>
			<div class="column">
				<h4 class="footer-title">Site Map</h4>
				<hr>
				<a href="{% url 'projects:index' %}">Projects</a>
				<a href="#">Blog</a>	
				<a href="#">About</a>	
			</div>
		</div>
	</footer>

	<script src="{% static "js/vendor/jquery.js" %}"></script>
	<script src="{% static "js/vendor/what-input.js" %}"></script>
	<script src="{% static "js/vendor/foundation.js" %}"></script>
	<script src="{% static "js/app.js" %}"></script>
</body>
</html>
