{% extends "base.html" %}

{% load static %}

{% block head_extra %}
	<title>About | Daniel Ragsdale</title>
	
	<style>
		.hero {
			background: rgba(150, 150, 150, 0.5);
			/* background: #999; */

			background: url("{% static "img/hero_dan.jpg" %}") no-repeat center center;
			background-size: cover;
			height: 45vh;

			padding: 80px 0px; 
		}
	</style>
{% endblock %}

{% block hero %}
	<div class="wrap hero-body">
		<h1>About&nbsp;Me</h1>
		<p>Who am I, and where am I going?</p>
	</div>
{% endblock %}

{% block main %}
	<p>I grew up in a suburb outside of Portland, OR and attended Lakeridge High School. I ran varsity track, cross-country, and competed on the school's FIRST Robotics team. Junior and senior year I was the team's mechanical design leader.</p>
	<p>Right now I am studying mathematics of computation at UCLA.</p>
	<p>My prefered desktop operating system is Linux Mint. My prefered text editor is Vim. </p>
	<p>My resume can be found <a href="https://docs.google.com/document/d/1ID7VEuvLYd9QI678Tp0F-60YZ8FsFCfwRwhlHBP6Zds/edit?usp=sharing">here.</a></p>
{% endblock %}
