{% extends "base.html" %}

{% load static %}

{% block head_extra %}
	<title>Daniel Ragsdale</title>
	
	<style>
		.hero {
			background: rgba(150, 150, 150, 0.5);
			/* background: #999; */

			background: url("{% static "img/hero_dan.jpg" %}") no-repeat center center;
			background-size: cover;
			height: 45vh;

			padding: 80px 0px; 
		}
	</style>
{% endblock %}

{% block hero %}
	<div class="wrap hero-body">
		<h1>Daniel Ragsdale</h1>
		<p>UCLA&nbsp;student. Designer. Software&nbsp;developer.</p>
	</div>
{% endblock %}

{% block main %}
	{% for post in all_posts %}
		<h2>{{post.title}}</h2>	
		{{post.bodytext|safe}}
		<br/>
	{% endfor %}
{% endblock %}
