{% extends "base.html" %}

{% load static %}
{% load project_extras %}

{% block head_extra %}
	<title>Daniel Ragsdale</title>
	
	<style>
		.hero {
			background: rgba(150, 150, 150, 0.5);
			/* background: #999; */

			background: url("{% static "img/hero_dan.jpg" %}") no-repeat center center;
			background-size: cover;
			height: 45vh;

			padding: 80px 0px; 
		}
	</style>
{% endblock %}

{% block hero %}
	<div class="wrap hero-body">
		<h1>Daniel Ragsdale</h1>
		<p>UCLA&nbsp;student. Designer. Software&nbsp;developer.</p>
	</div>
{% endblock %}

{% block main %}
	{% for post in all_posts %}
		<a href="{% url 'projects:detail' post.slug %}"><h2 class="body-text"><u>{{post.title}}</u></h2></a>
		{% md_render_short post.bodytext %}
		<br/>
	{% endfor %}
{% endblock %}
